<!DOCTYPE html>
<title>Fritzomatic: {{ component.label() }}</title>
<link rel="stylesheet" href="/static/lib/bootstrap.min.css">
<style>
  img { border: 1px solid #aaaaaa; margin: 2px;}
</style>

<div class="container">

  <h1>
    <a href="icon"><img src="icon" style="background-color: #cccccc"></a>
    {{ component.label() }}
  </h1>

  <div class="row">

    <div class="span4">
      <h2>Breadboard</h2>
      <a href="breadboard"><img src="breadboard" style="background-color: #cccccc;"></a>
    </div>

    <div class="span4">
      <h2>Schematic</h2>
      <a href="schematic"><img src="schematic" style="background-color: #ffffff;"></a>
    </div>

    <div class="span4">
      <h2>PCB</h2>
      <a href="pcb"><img src="pcb" style="background-color: #69947a;"></a>
    </div>

  </div>

  <div>
    <a href="json">JSON</a>
  </div>

  <div>
    <a href="/">Home</a>
  </div>

</div>
