<!DOCTYPE html>
<title>Fritzomatic: {{ component.label() }}</title>
<link rel="stylesheet" href="/static/lib/bootstrap.min.css">
<style>
  img { border: 1px solid #aaaaaa; margin: 2px;}
</style>

<!-- Google Analytics -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-30895921-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

<div class="container">

  <h1>
    <a href="icon"><img src="icon" style="background-color: #cccccc"></a>
    {{ component.label() }}
  </h1>

  <div class="row">

    <div class="span4">
      <h2>Breadboard</h2>
      <a href="breadboard"><img src="breadboard" style="background-color: #cccccc;"></a>
    </div>

    <div class="span4">
      <h2>Schematic</h2>
      <a href="schematic"><img src="schematic" style="background-color: #ffffff;"></a>
    </div>

    <div class="span4">
      <h2>PCB</h2>
      <a href="pcb"><img src="pcb" style="background-color: #69947a;"></a>
    </div>

  </div>

  <div>
    <a href="json">JSON</a>
  </div>

  <form action="{{ url_for('update') }}" method="post">
    <textarea name="data" class="span12" style="height: 500px">{{ component.json() }}</textarea><br>
    <input type="submit" class="btn" value="Update">
  </form>

</div>

<!-- GoSquared Analytics -->
<script type="text/javascript">
  var GoSquared={};
  GoSquared.acct = "GSN-682295-D";
  (function(w){
    function gs(){
      w._gstc_lt=+(new Date); var d=document;
      var g = d.createElement("script"); g.type = "text/javascript"; g.async = true; g.src = "//d1l6p2sc9645hc.cloudfront.net/tracker.js";
      var s = d.getElementsByTagName("script")[0]; s.parentNode.insertBefore(g, s);
    }
    w.addEventListener?w.addEventListener("load",gs,false):w.attachEvent("onload",gs);
  })(window);
</script>

<!-- Feedback/Support -> https://fritzomatic.uservoice.com/ -->
<script type="text/javascript">
  var uvOptions = {};
  (function() {
    var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
    uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/Fyl1gGxObvfEVVmqq00Cg.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
  })();
</script>
